<a href="https://colab.research.google.com/github/MKAewq/coolabo-treino/blob/main/C%C3%B3pia_de_Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A =input()
B =input()
x =int(A)+int(B)
print("X =",x);

1002

In [ ]:
π = 3.14159
raio=input()
area=π*float(raio)**2
print(f'A={area:.4f}')

1003

In [ ]:
A =input()
B =input()
SOMA =int(A)+int(B)
print("SOMA =",SOMA)

1004

In [ ]:
A =input()
B =input()
PROD =int(A)*int(B)
print("PROD =",PROD)

1005

In [ ]:
A =float(input())*3.5
B =float(input())*7.5
MEDIA =(A+B)/11
print(f'MEDIA = {MEDIA:.5f}')

1006

In [ ]:
A =float(input())*2
B =float(input())*3
C =float(input())*5
MEDIA =(A+B+C)/10
print(f'MEDIA = {MEDIA:.1f}')

1007

In [ ]:
A=int(input())
B=int(input())
C=int(input())
D=int(input())
DIFERENCA =(A*B-C*D)
print("DIFERENCA =", DIFERENCA)

1008

In [ ]:
numero_funcionario=int(input())
numero_horas=int(input())
valor_hora=float(input())
salario= (numero_horas*valor_hora)
print("NUMBER =",numero_funcionario)
print(f'SALARY = U$ {salario:.2f}')

1009

In [ ]:
primeiro_nome_vendedor= input()
salario_fixo=float(input())
total_vendas=float(input())
comissao=total_vendas*0.15
total_mes=salario_fixo+comissao
print(f'TOTAL = R$ {total_mes:.2f}')

1010

In [ ]:
valores1=input()
valores_splitados=valores1.split(" ")
c1=valores_splitados[0] 
n1=int(valores_splitados[1])
v1=float(valores_splitados[2])
total1=n1*v1

valores2=input()
valores_splitados2=valores2.split(" ")
c2=valores_splitados2[0]
n2=int(valores_splitados2[1])
v2=float(valores_splitados2[2])
total2=n2*v2

totaltotal= total1+total2



print(f'VALOR A PAGAR: R$ {totaltotal:.2f}')

1011

In [ ]:
pi=3.14159
R=float(input())
volume1=(4.0/3)*(pi*R**3)


print(f'VOLUME = {volume1:.3f}' )

1012

In [ ]:
pi = 3.14159
valores=input()
valores_splitados=valores.split(" ")
A=float(valores_splitados[0])
B=float(valores_splitados[1])
C=float(valores_splitados[2])

triangulo=(A*C)/2
circulo=pi*(C**2)
trapezio=((A+B)*C)/2
quadrado=B**2
retangulo=A*B

print(f'TRIANGULO: {triangulo:.3f}' )
print(f'CIRCULO: {circulo:.3f}' )
print(f'TRAPEZIO: {trapezio:.3f}' )
print(f'QUADRADO: {quadrado:.3f}' )
print(f'RETANGULO: {retangulo:.3f}' )

1013

In [ ]:
valores=input()
valores_splitados=valores.split(" ")
A=float(valores_splitados[0])
B=float(valores_splitados[1])
C=float(valores_splitados[2])
D=((A+B)+abs(A-B))/2
maior=((C+D)+abs(C-D))/2

print(int(maior),"eh o maior")

1014

In [ ]:
distancia=int(input())
gasolina=float(input())
media=distancia/gasolina
print(f'{media:.3f}',"km/l")

1015

In [ ]:
import math

valores=(input())
valores_splitados=valores.split(" ")
x1=float(valores_splitados[0])
y1=float(valores_splitados[1])

valores2=input()
valores_splitados2=valores2.split(" ")
x2=float(valores_splitados2[0])
y2=float(valores_splitados2[1])

Distancia=((x2-x1)**2)+((y2-y1)**2)
raiz = math.sqrt(Distancia)
print(f'{raiz:.4f}' )

1016

In [ ]:
d = int(input())
t = int(d * 2)
print('{} minutos'.format(t))

1017

In [ ]:
tempo=int(input())
VM=int(input())
distancia=(tempo*VM)/12
print(f'{distancia:.3f}' )

10
85
70.833

1018

In [ ]:
n=int(input())
print(n)
n100=n//100
r=n%100

n50=r//50
r=r%50

n20=r//20
r=r%20

n10=r//10
r=r%20

n5=r//5
r=r%5

n2=r//2
n1=r%2


print(f"{n100} nota(s) de R$ 100,00")
print(f"{n50} nota(s) de R$ 50,00")
print(f"{n20} nota(s) de R$ 20,00")
print(f"{n10} nota(s) de R$ 10,00")
print(f"{n5} nota(s) de R$ 5,00")
print(f"{n2} nota(s) de R$ 2,00")
print(f"{n1} nota(s) de R$ 1,00")

576
576
5 nota(s) de R$ 100,00
1 nota(s) de R$ 50,00
1 nota(s) de R$ 20,00
0 nota(s) de R$ 10,00
1 nota(s) de R$ 5,00
0 nota(s) de R$ 2,00
1 nota(s) de R$ 1,00

1019

In [ ]:
segundos=int(input())

horas=segundos//(60*60)
segundos=segundos%(60*60)

minutos=segundos//(60)
segundos=segundos%60

print(f"{horas}:{minutos}:{segundos}")

576
0:9:36

1020

In [ ]:
dias=int(input())

anos=dias//(365)
dias=dias%(365)

meses=dias//(30)
dias=dias%(30)

print(f'{anos}'" ano(s)")
print(f'{meses}'" mes(es)")
print(f'{dias}'" dia(s)")

400
1 ano(s)
1 mes(es)
5 dia(s)

1021

In [10]:
reais, centavos=map(int,input().split('.'))
centavos=centavos+reais*100



print('NOTAS:')
print(f'{centavos//10000} nota(s) de R$ 100.00')
centavos=centavos%10000
print(f'{centavos//5000} nota(s) de R$ 50.00')
centavos=centavos%50000 
print(f'{centavos//2000} nota(s) de R$ 20.00')
centavos=centavos%2000
print(f'{centavos//1000} nota(s) de R$ 10.00')
centavos=centavos%1000
print(f'{centavos//500} nota(s) de R$ 5.00')
centavos=centavos%500
print(f'{centavos//200} nota(s) de R$ 2.00')
centavos=centavos%200


print('MOEDAS:')
print(f'{centavos//100} moeda(s) de R$ 1.00')
centavos=centavos%100
print(f'{centavos//50} moeda(s) de R$ 0.50')
centavos=centavos%500
print(f'{centavos//25} moeda(s) de R$ 0.25')
centavos=centavos%25
print(f'{centavos//10} moeda(s) de R$ 0.10')
centavos=centavos%10
print(f'{centavos//5} moeda(s) de R$ 0.05')
centavos=centavos%5
print(f'{centavos//1} moeda(s) de R$ 0.01')
centavos=centavos%1

572

ValueError: ignored

TABELA

In [9]:
import pandas as pd 
import numpy as np